
<mat-card class="example-card">
  <mat-card-title>Our Strenght</mat-card-title>
<div class="gallery">
  <a target="_blank" href="assets\team.jpg">
    <img src="assets\team.jpg" alt="Cinque Terre" width="50vh" height="40vh">
  </a>
  <div class="desc">Team of Qualified and experienced professional
  </div>
</div>

<div class="gallery">
  <a target="_blank" href="assets\Manpower S.jpg">
    <img src="assets\Manpower S.jpg" alt="Forest"  width="50vh" height="40vh">
  </a>
  <div class="desc">Statutory compliant and required licences
  </div>
</div>

<div class="gallery">
  <a target="_blank" href="assets\q ser.jfif">
    <img src="assets\q ser.jfif" alt="Northern Lights"  width="50vh" height="40vh">
  </a>
  <div class="desc">Focus on quality services
  </div>
</div>
</mat-card>
