<div>
  <h1>
Services Offered
</h1>
</div>
<!--

-->
<div class="content">
  <div class="flt" fxLayout="column-wrap" fxLayoutGap="16px grid" >

    <div
      fxFlex="25%"
      fxFlex.md="40%"
      fxFlex.xs="100%"
      fxFlex.sm="50%"
      fxFlex.lg="33%%" >
      <mat-card class="example-card">
        <mat-card-title>House-Keeping</mat-card-title>
        <img mat-card-image src="assets\hk.jpeg" alt="h keeping" />
        <mat-card-content>
          <p>
            Our commercial office cleaning service involves general dusting,
            sweeping, mopping, washroom maintenance, vacuuming, computer
            cleaning as well as basic pantry services. Additionally, we also
            cover all external surfaces, reception areas, escalators, elevators
            etc.; depending on the client’s requirement. We strive to provide
            the client exactly what they require; and hence each contract is
            tailor-made to suit your preferences. Our sole intention is to make
            your life simpler so you can concentrate on your real job!
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-title>Sanitization </mat-card-title>
        <img mat-card-image src="assets\seni.jpeg" alt="senitize" />
        <mat-card-content>
          <p>
            Proact offering disinfection service to disinfect the premises
            thoroughly to minimize the risk of contamination. We will be
            introducing a new treatment procedure using ULV cold fogging by
            machine that uses large volumes of air at low pressures to transform
            liquid chemicals into droplets that are dispersed into the
            atmosphere. This procedure provides outstanding results with regard
            to efficacy and residual control on airborne insects and
            viruses.This chemical is completely odorless and safe as its LD 50
            value is very high (5000mg/kg) compare to DDVP (50mg/kg).
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-title>Pantry Services </mat-card-title>
        <img mat-card-image src="assets\Pantry S.jpeg " alt="pantery" />
        <mat-card-content>
          <p>
            We offer well-integrated Canteen & Pantry Management services that
            include serving of tea and snacks to our customers. We also provide
            end-to-end services for management of corporate guesthouses where
            our staff is placed 24 hours a day. Our staff is thoroughly trained
            to efficiently and hygienically manage your office canteen/pantry.
            With regular maintenance and attention-to-detail, you can be sure
            you are receiving the highest quality of service!
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-title>Horticulture Services </mat-card-title>
        <img
          mat-card-image
          src="assets\Horticulture S.jpeg  "
          alt="Horticulture Services  "
        />
        <mat-card-content>
          <p>
            We have well-trained and experienced gardeners who can maintain your
            external gardens or plants; as well as the indoor plants. Our
            experts will be able to manage and maintain any green areas at the
            highest quality; bringing years of experience in use of manures,
            trimming of plants/hedges, grass-cutting and maintenance. We can
            also, through our associates, design/re-design your green spaces,
            maximize its aesthetic potential, executed on turnkey basis
          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-title>Manpower services</mat-card-title>
        <img
          mat-card-image
          src=" assets\Manpower S.jpg  "
          alt="Manpower services  "
        />
        <mat-card-content>
          <p>
            To facilitate the growing need for leaner, more focused
            organizations, we have been helping our partners outsource the
            recruitment process. With all kinds of staff needed to run an
            organization (unskilled, skilled & highly skilled); it is becoming
            increasingly difficult to find and manage quality manpower. By
            outsourcing your manpower requirements to us, you can enjoy huge
            savings by eradicating recruitment/HR costs and enjoy increased
            productivity. Your organization stays young, lean and flexible. We
            ensure submitting statutory dues and filing returns.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

</div>
</div>
