<carousel class="carosel" autoplay="true" height="400" cellWidth="100%">
  <div class="carousel-cell">
    <img src="assets\proact.jpg " />
  </div>
  <div class="carousel-cell">
    <img src="assets\hk.jpeg" />
  </div>
  <div class="carousel-cell">
    <img src="assets\Manpower S.jpg " />
  </div>
  <div class="carousel-cell">
    <img src="assets\Pantry S.jpeg " />
  </div>
  <div class="carousel-cell">
    <img src="assets\seni.jpeg" />
  </div>
  <div class="carousel-cell">
    <img src="assets\Horticulture S.jpeg " />
  </div>
  <div class="carousel-cell">
    <img src="assets\hk.jpeg" />
  </div>

  <div class="carousel-cell">
    <img src="assets\Pantry S.jpeg " />
  </div>
  <div class="carousel-cell">
    <img src="assets\seni.jpeg" />
  </div>
</carousel>
<mat-card>
  <mat-card-title>ProAct at a Glance:</mat-card-title>
  <mat-card-content>
    <h3>
      => Proact Facility Services offers innovative facility solutions
      especially customized for your work places. We help you protect, revive,
      restore and upkeep the hygiene of your premises. <br />

      => We make all efforts through our facility service offerings to make your
      office environment safer, hygienic and healthy let you experience the
      fresh energy of pride and productivity among your employees. <br />

      => We at Proact value your time and strongly believe to off take your
      hassles and fixing things which should not come in way of work. Proact
      specializes in providing professional space enhancement solutions such as
      Facility Management, Pantry Management, Office Sanitization,across Delhi
      NCR, earning admiration among our esteemed clientele.
    </h3>
  </mat-card-content>
</mat-card>
<mat-card> <h1>Our Work</h1></mat-card>

<carousel class="carosel"  autoplay="true" height="130">
  <div class="carousel-cell">
    <img src="assets\proact.jpg " />
  </div>
  <div class="carousel-cell">
    <img src="assets\hk.jpeg" />
  </div>
  <div class="carousel-cell">
    <img src="assets\Manpower S.jpg " />
  </div>
  <div class="carousel-cell">
    <img src="assets\Pantry S.jpeg " />
  </div>
  <div class="carousel-cell">
    <img src="assets\seni.jpeg" />
  </div>
  <div class="carousel-cell">
    <img src="assets\Horticulture S.jpeg " />
  </div>
  <div class="carousel-cell">
    <img src="assets\hk.jpeg" />
  </div>
  <div class="carousel-cell">
    <img src="assets\Pantry S.jpeg " />
  </div>
  <div class="carousel-cell">
    <img src="assets\seni.jpeg" />
  </div>
</carousel>

<mat-card>
  <mat-card-title>Vision</mat-card-title>
  <mat-card-content>
    <h3>
      Our vision is to be a leading professional Facilities Management company
      that is widely recognized for maintaining high standards of quality all
      times
    </h3>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-title>Mission</mat-card-title>
  <mat-card-content>
    <h3>
      Our mission is to provide innovative solutions and value-added services
      that exceeds our clients quality expectations.
    </h3>
  </mat-card-content>
</mat-card>

<app-tab2></app-tab2>
<app-strenght></app-strenght>
